---
//ssr active
export const prerender = false;

import Layout from '../layouts/Layout.astro';
import { supabase } from '../lib/supabase';

// Example usage of supabase
/* const { data, error } = await supabase.from('cities').select('*');
console.log(data, error); */
---

<Layout title='Home'
	><!-- {
	data?.map((entry) => {
		return <p>{entry.id}</p>;
	})
} -->
</Layout>
